body{
    background: antiquewhite;
}

#title{ 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#top{
    margin-top: 15px;
    margin-bottom: 10px;
}

#notes{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.white{
    background-color: white;
    color: black;
    border: none;
    float: left;
    width: 75px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 9px grey;
}

.white:hover {background-color: grey;}

.white:active {
    box-shadow: 0 5px grey;
    transform: translateY(5px);
}

.black{
    background-color: black;
    color: white;
    border: none;
    float: left;
    width: 75px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 9px grey;
}

.black:hover {background-color: grey;}

.black:active {
    box-shadow: 0 5px grey;
    transform: translateY(5px);
}